<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Buyers</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Welcome to Buyer' Manager
		</h2>
		<a class="btn btn-default pull-right" th:href="@{/index.html}">Tax home</a>
		<br/>
		<h3>Create Buyer</h3>
		<p class="text-danger" th:text="${error}">Error</p>
		<form class="form-inline" th:action="@{/buyers}" th:object="${buyer}" method="post">
			<label>Name: </label> <input class="form-control" type="text" th:field="*{name}" /> 
			<label>NIF: </label> <input class="form-control" type="text" th:field="*{NIF}" /> 
			<label>Address: </label> <input class="form-control" type="text" th:field="*{adress}" /> 
			<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
		<br/>
		<h3>List of Buyers</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>NIF</th>
					<th>Address</th>
					<th>Invoices</th>
					<th>To Receive</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="buyer: ${buyers}">
					<td th:text="${buyer.name}">Name</td>
					<td th:text="${buyer.NIF}">NIF</td>
					<td th:text="${buyer.adress}">Address</td>
					<td><a
						th:href="@{/buyers/{NIF}/details(NIF=${buyer.NIF})}">Details</a></td>
					<td><a
						th:href="@{/buyers/{NIF}/receiveperyear(NIF=${buyer.NIF})}">Receive per Year</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>