<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Receives of Taxpayer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Receives of Buyer <span th:text="${buyer.name}">José</span> 
			<span th:text="${buyer.NIF}">12345689</span>
		</h2>
		<a class="btn btn-default pull-right" th:href="@{/buyers}">Buyers</a>
		<br/>
		<h3>Receives per Year</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Year</th>
					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="return: ${returns}">
					<td th:text="${return.year}">Year</td>
					<td th:text="${return.value}">Value</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>