<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Receiving</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<h2>
			Receivings of Buyer <span th:text="${buyer.NIF}">MoneyRus</span>
		</h2>
		<a class="btn btn-default pull-right" th:href="@{/buyers}">Buyers</a>
		<br/>
		<h3>To receive</h3>
 		<table class="table table-striped">
			<thead>
				<tr>
					<th>Ano</th>
 					<th>Ammount</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="client: ${bank.clients}">
					<td th:text="${client.name}">Uncle Patinhas</td>
 					<td th:text="${client.id}">BK111234</td>
				 	<td><a
						th:href="@{/banks/{code}/clients/{id}/accounts(code=${bank.code},id=${client.id})}">Accounts</a></td>
				</tr>
			</tbody>
		</table>
		<br/>
		<h3>Operations</h3>
 		<table class="table table-striped">
			<thead>
				<tr>
					<th>Time</th>
 					<th>Reference</th>
 					<th>Type</th>
 					<th>Iban</th>
 					<th>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="operation: ${bank.operations}">
					<td th:text="${operation.time}">2017/04/01</td>
					<td th:text="${operation.reference}">BK12344567</td>
					<td th:text="${operation.type}">DEPOSIT</td>
					<td th:text="${operation.iban}">123456</td>
					<td th:text="${#numbers.formatDecimal(operation.value, 1, 2)}">200</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>